<div id="about-container" class="scene-container">	
	<div id="about-content-container" class="scene-container">	
		<div id="about-logo"></div>
		<div id="about-description">
			Explore digital art in Masterpieces. This artwork is curated from artists across Asia, and showcases pieces created on tablets and new digital media. We hope you find something you love, and dedicate the work to someone special.
			</br></br>
			We value your contributions, so please, submit your own digital art. Or if you have any questions, drop us a note. Masterpieces is presented by Samsung.
				</br></br>
				&copy;2013 Samsung Asia Pte. Ltd. 
		</div>
		<div id="about-closebtn"></div>	
		<!-- <div id="about-helpbarbg"></div> -->
	</div>
</div>