<div id="bifold-container" class="scene-container">
	<div id="bifold-image-container" >
		<div id="bifold-image-0" class="bifold-image"></div>
		<div id="bifold-image-1" class="bifold-image"></div>
		<div id="bifold-image-2" class="bifold-image"></div>
	</div>
	
	<div id="bifold-detailed-container">				
		<div id="bifold-infobtn"></div>
		<div id="bifold-backbtn"></div>
		<div id="bifold-artistphoto"></div>	
		<div id="bifold-title"></div>
		<div id="bifold-artistname"></div>
		<div id="bifold-edu" class="bifold-edu-loc">
			<div class="bifold-edu-loc-logo" style="background-image:url(resource/images/bifold/college-logo.png);"></div>
			<div id="bifold-artistedu" class="bifold-edu-loc-text"></div>
		</div>
		<div id="bifold-loc" class="bifold-edu-loc">
			<div class="bifold-edu-loc-logo" style="background-image:url(resource/images/bifold/place-logo.png);"></div>
			<div id="bifold-artistloc" class="bifold-edu-loc-text"></div>
		</div>		
		<div id="bifold-artistdesc">
			<div id="art-desc"></div>					
			<div id="lineseparator"><img src="resource/images/bifold/line.png"></div>
			<div id="artist-bio-title">ARTIST BIO</div>
			<div id="artist-bio-content"></div>			
		</div>
		<div id="bifold-scroll-back">
			<div id="bifold-scroll-bead"></div>
		</div>		
	</div>
</div>