<!-- Add this following HTML for each scene class name is mandatory -->
<div id="drawer-container" class="scene-container">	
	<div id="drawer-content-container">				
		<div id="drawer-content" class="drawer-content">
			<div id="drawer-content-gallery" class="drawer-content"></div>
		</div>
	</div>
	<div id="drawer-logo"></div>
	<div id="drawer-content-left-arrow" ></div>
	<div id="drawer-content-right-arrow" ></div>
	<div id="drawer-black-bar" ></div>
</div>