<!-- Add this following HTML for each scene class name is mandatory -->
<div id="home-container" class="scene-container">
	<div id="home-logo"></div>
	<div id="home-thumbnail-container">
		<div id="home-thumbnail-0" class="home-thumbnail"></div>
		<div id="home-thumbnail-1" class="home-thumbnail"></div>
		<div id="home-thumbnail-2" class="home-thumbnail"></div>
		<div id="home-thumbnail-3" class="home-thumbnail"></div>
		<div id="home-thumbnail-4" class="home-thumbnail" style="margin-right:0px;"></div>
	</div>
	<div id="home-thumbnail-shadow"></div>
	<div id="home-autoplay"></div>	
	<div id="home-random"></div>
	<div id="home-browse">BROWSE GALLERY</div>
	
	<div id="home-masterpieces"></div>
	<div id="home-trending"></div>
	
	<div id="home-infobar">
		<div id="home-info">Dedicate, like and submit artwork at<span class="home-info-link">&nbsp;www.masterpiecesart.com</span></div>
		<div id="home-presented">Presented By Samsung</div>		
	</div>
	<div id="home-about"></div>
	<div id="home-highlight"></div>
</div>