<div id="terms-container" class="scene-container">	
	<div id="terms-content-container" class="scene-container">	
		<div id="terms-logo"></div>
		<div id="terms-description">
			<div id="terms-title">Terms and Conditions</div>
			Masterpieces is a service and application to view and engage with digital artwork. By using the Masterpieces App and related services (the "Services"), you agree to the Samsung Service Terms and Conditions and Masterpieces Terms and Conditions at <span style="text-decoration:underline;">www.masterpiecesart.com/tnc</span>
			</br></br>
			&copy;2013 Samsung Asia Pte. Ltd. 
		</div>
		<div id="terms-agree"></div>
		<div id="terms-disagree"></div>		
	</div>
</div>