<div id="title-container" class="scene-container">
	<div id="title-M-btn"></div>
	<div id="title-title"></div>
	<div id="title-description"></div>
	<div id="title-viewbtn">VIEW ARTWORK</div>
	<div id="title-left-arrow"></div>	
	<div id="title-right-arrow"></div>	
	<div id="title-whitetab"></div>
	<div id="title-prevbtn"></div>
	<div id="title-nextbtn"></div>
</div>
