*
{
	padding	: 0;
	margin	: 0;
	border	: 0;
}

/* Fonts */
@font-face{
	font-family		:HeroicCondensedMedium;
	src				:url(resource/fonts/HeroicCondensed-Medium.otf);
}

@font-face{
	font-family		:Roboto;
	src				:url(resource/fonts/Roboto-Regular.ttf);
}

@font-face{
	font-family		:RobotoLight;
	src				:url(resource/fonts/Roboto-Light.ttf);
}

@font-face{
	font-family		:RobotoLightItalic;
	src				:url(resource/fonts/Roboto-LightItalic.ttf);
}

/* Layout */
body
{
	width			: 1280px;
	height			: 720px;
	overflow		: hidden;
	background-color: transparent;
	cursor			: default;
}

.scene-container{
	position		: absolute;
	left			: 0px;
	top				: 0px;
	width			: 1280px;
	height			: 720px;
	overflow		: hidden;
	font-family		: RobotoLight;
}

.image-temp{
	position		:relative;
	float			:left;
	width			:100px;
	height			:100px;
}