.loading-window{
	position			: absolute;
	top					: 0px;
	left				: 0px;
	width				: 1280px;
	height				: 720px;
	background-color	: rgba(0,0,0,0.95);
	z-index				: 90;	
}

.loading-image{
	position			: absolute;
	top					: 352px;
	left				: 560px;
	width				: 160px;
	height				: 17px;
}