#bifold-container{
	position			: absolute;
	left				: 0px;
	top					: 0px;
	width				: 1280px;
	height				: 720px;
	overflow			: hidden;
	background-color	: black;
	z-index				: 2;
}

#bifold-image-container{
	position			: absolute;
	left				: -1280px;
	top					: 0px;
	width				: 3840px;
	height				: 720px;
	cursor				: pointer;
}

.bifold-image{
	position			: relative;
	left				: 0px;
	top					: 0px;
	width				: 1280px;
	height				: 720px;
	background-repeat	: no-repeat;
	background-size		: contain;
	background-position	: center;
	float				: left;
}

#bifold-detailed-container{
	position			: absolute;
	width				: 454px;
	height				: 720px;
	background-image	: url('../../resource/images/bifold/gallery-detail-bg.png');
	display				: block;
	left 				: 1243px;
}

#bifold-infobtn{
	position			: absolute;
	top					: 9px;
	left				: 35px;
	width				: 50px;
	height				: 74px;
	cursor				: pointer;
}

#bifold-backbtn{
	position			: absolute;
	top					: 90px;
	left				: 35px;
	width				: 50px;
	height				: 74px;
	cursor				: pointer;
}


#bifold-title{
	position			: relative;
	top					: 10px;
	left				: 100px;
	width				: 220px;
	height				: auto;
	color				: #59b3c3;
	font-family			: HeroicCondensedMedium;
	font-size			: 24pt;
}

#bifold-artistname{
	position			: relative;
	margin-top			: 10px;
	left				: 100px;
	width				: 220px;
	height				: auto;
	color				: #59b3c3;
}

.bifold-edu-loc{
	position			: relative;
	margin-top			: 10px;
	left				: 100px;
	width				: 330px;
	height				: auto;
	min-height			: 20px;
}

.bifold-edu-loc-logo{
	position			: relative;	
	left				: 0px;
	top					: 0px;
	width				: 18px;
	height				: 18px;
	float				: left;
}

.bifold-edu-loc-text{
	position			: relative;
	left				: 23px;
	top					: 0px;
	width				: 200px;
	height				: auto;
	color				: #555555;
	text-align			: left;
	text-indent			: -17px;
}

#bifold-artistphoto{
	position			: absolute;
	top					: 30px;
	right				: 20px;
	width				: 80px;
	height				: 80px;
	background-color	: #dedede;
	background-size		: contain;
	border				: 7px solid white;
	border-radius		: 54px;
	box-shadow			: 0px 5px 5px rgba(0,0,0,0.8);
}

#bifold-artistdesc{
	position			: relative;
	margin-top			: 20px;
	left				: 100px;
	width				: 320px;
	height				: 420px;
	color				: #555555;
	overflow			: hidden;
}

#art-desc{
	font-family			: RobotoLightItalic;
	font-size			: 14pt;
	margin-bottom		: 30px;
}

#lineseparator{
	left				: 20px;
	width				: 310px;
}

#artist-bio-title{
	margin-top			: 20px;
	font-family			: HeroicCondensedMedium;
	font-size			: 24pt;
	color				: #BE5E3E;
}

#artist-bio-content{
	font-size			: 14pt;
	margin-top			: 10px;
	
}

#bifold-scroll-back{
	position			: absolute;
	top					: 170px;
	right				: 15px;
	width				: 2px;
	height				: 100%;
	background-color	: #7f7f7f;
}

#bifold-scroll-bead{
	position			: absolute;
	top					: 0px;
	left				: -2px;
	width				: 6px;
	height				: 50px;
	background-color	: #555555;
}