#drawer-container{
	background-color	:#ededed;
}

#drawer-logo{
	position			:absolute;
	left				:0px;
	top					:0px;
	width				:135px;
	height				:118px;
	background-image	:url(../../resource/images/drawer/M.png);
	cursor				:pointer;
}

#drawer-content-container{
	position			:absolute;
	left				:0px;
	top					:0px;
	width				:1280px;
	height				:720px;
}

.drawer-content{
	position			:relative;
	left				:0px;
	top					:0px;
	height				:720px;
	float				:left;
}

#drawer-content-left-arrow{
	position			:absolute;
	left				:18px;
	top					:320px;
	width				:31px;
	height				:82px;
	background-image	:url(../../resource/images/drawer/gallery-left.png);
	cursor				:pointer;
	z-index				:1;
}

#drawer-content-right-arrow{
	position			:absolute;
	right				:18px;
	top					:320px;
	width				:31px;
	height				:82px;
	background-image	:url(../../resource/images/drawer/gallery-right.png);
	cursor				:pointer;
	z-index				:1;
}

/*------------image content-----------*/
.drawer-content-image-container{
	position			:relative;
	left				:0px;
	top					:0px;
	width				:1080px;
	height				:720px;
	float				:left;
}

.drawer-content-image{
	position			:absolute;
	left				:100px;
	top					:65px;
	border-width		:12px;
	max-width			:880px;
	max-height			:420px;
	cursor				:pointer;
	box-shadow			:2px 3px 5px #959595;
	border				:12px solid white;
}

.drawer-content-image-light{
	position			:absolute;
	left				:0px;
	top					:0px;
	height				:590px;
	width				:1080px;
	background-size		:100% 100%;
	background-image	:url(../../resource/images/drawer/image-light.png);
	display				:none;
}

.drawer-content-image-shadow{
	position			:absolute;
	height				:40px;
	background-size		:100% 100%;
	background-image	:url(../../resource/images/drawer/image-shadow.png);
	display				:none;
}

.drawer-content-image-title-container{
	position			:absolute;
	left				:260px;
	bottom				:100px;
	min-width			:370px;
	height				:auto;
	min-height			:90px;
	max-height			:130px;
	background-color	:white;
	box-shadow			:2px 3px 5px #959595;	
	font-family			:HeroicCondensedMedium;
	font-size			:32pt;
	padding-left		:10px;
	padding-right		:10px;
	white-space			:nowrap;
	overflow			:hidden;
}

.drawer-content-image-title-artist{
	position			:absolute;
	left				:0px;
	top					:50px;
	height				:30px;
	font-family			:HeroicCondensedMedium;
	font-size			:24pt;
	color				:grey;
	padding-left		:10px;
	padding-right		:10px;
	line-height			:30px;
	white-space			:nowrap;
}

#drawer-black-bar{
	position			:absolute;
	left				:0px;
	bottom				:0px;
	width				:1280px;
	height				:40px;
	background-color	:rgba(0,0,0,0.75);
}