#home-container{
	background-image:url("../../resource/images/home/home-bg.png");
}

#home-logo{
	position		:absolute;
	left			:32px;
	top				:27px;
	width			:453px;
	height			:166px;
	background-image:url("../../resource/images/home/logo-white.png");
}

#home-thumbnail-container{
	position		:absolute;
	left			:14px;
	top				:255px;
	width			:642px;
	height			:120px;
}

.home-thumbnail{
	position		:relative;
	left			:0px;
	top				:0px;
	width			:120px;
	height			:120px;
	float			:left;
	margin-right	:10px;
	background-image:url("../../resource/images/home/home-thumb.png");
	background-position:center;
	background-size	:cover;
	background-repeat:no-repeat;
}

#home-thumbnail-shadow{
	position		:absolute;
	left			:14px;
	top				:255px;
	width			:642px;
	height			:120px;
	background		:-webkit-linear-gradient(left, rgba(0,0,0,1.0), rgba(0,0,0,0.3), rgba(0,0,0,0.0), rgba(0,0,0,0.3), rgba(0,0,0,1.0))
}

#home-autoplay{
	position		:absolute;
	left			:122px;
	top				:418px;
	width			:200px;
	height			:64px;
	background-image:url("../../resource/images/home/menu-0.png");
	cursor			:pointer;
}

#home-random{
	position		:absolute;
	left			:343px;
	top				:418px;
	width			:200px;
	height			:64px;
	background-image:url("../../resource/images/home/menu-1.png");
	cursor			:pointer;
}

#home-browse{
	position		:absolute;
	left			:705px;
	top				:165px;
	width			:180px;
	height			:40px;
	font-family		:HeroicCondensedMedium;
	font-size		:26pt;
	color			:rgba(255,255,255,0.8);
	line-height		:40px;
}

#home-masterpieces{	
	position		:absolute;
	left			:705px;
	top				:220px;
	width			:233px;
	height			:219px;
	background-image:url("../../resource/images/home/menu-2.png");
	cursor			:pointer;
}

#home-trending{
	position		:absolute;
	left			:983px;
	top				:220px;
	width			:233px;
	height			:219px;
	background-image:url("../../resource/images/home/menu-3.png");
	cursor			:pointer;
}


#home-infobar{
	position		:absolute;
	left			:0px;
	bottom			:42px;
	width			:1280px;
	height			:74px;
}

#home-info{
	position		:absolute;
	left			:35px;
	top				:20px;
	width			:570px;
	height			:40px;
	font-family		:HeroicCondensedMedium;
	font-size		:18pt;
	color			:rgba(200,200,200,0.8);
	line-height		:40px;
}

#home-presented{
	position		:absolute;
	left			:850px;
	top				:20px;
	width			:160px;
	height			:40px;
	font-family		:HeroicCondensedMedium;
	font-size		:18pt;
	color			:rgba(255,255,255,0.8);
	line-height		:40px;
}

#home-about{
	position		:absolute;
	right			:62px;
	top				:613px;
	width			:196px;
	height			:53px;
	background-image:url("../../resource/images/home/menu-4.png");
	cursor			:pointer;
}

#home-highlight{
	position		:absolute;
	border			:3px solid #c35c3a;
	cursor			:pointer;
}

.home-info-link{
	color			:white;
	font-weight		:bolder; 
}