#splash-container{
	background-image:url("../../resource/images/splash/splash-bg.png");
}

#splash-logo{
	position		:absolute;
	left			:412px;
	top				:228px;
	width			:456px;
	height			:163px;
	background-image:url("../../resource/images/splash/splash-logo.png");
}

#splash-title{
	position		:absolute;
	left			:520px;
	bottom			:35px;
	width			:240px;
	height			:34px;
	font-family		:HeroicCondensedMedium;
	font-size		:26pt;
	color			:#bcbcbc;
	text-align		:center;
	line-height		:34px;
	overflow		:hidden;
}

#splash-samsungart{
	position		: absolute;
	left			: 496px;
	top				: 565px;
	width			: 289px;
	height			: 116px;
	background-image: url("../../resource/images/splash/samsung-supports-art.png");
	background-size : 100% 100%;
	opacity 		: 0;
}