#terms-container{
	background-color:rgba(0,0,0,0.95);
}

#terms-transparentbg{
	position		: absolute;
	top				: 0px;
	left			: 0px;
	width			: 1280px;
	height			: 675px;
	background-color: #000000;
	opacity			: 0.8;
}

#terms-helpbarbg{
	position		: absolute;
	top				: 675px;
	left			: 0px;
	width			: 1280px;
	height			: 45px;
	background-color: #151819;
}

#terms-logo{
	position		: absolute;
	top				: 153px;
	left			: 310px;
	width			: 294px;
	height			: 97px;
	background-image: url('../../resource/images/about/logo-about.png');
}

#terms-title{
	font-family		:HeroicCondensedMedium;
	font-size		:32pt;
	margin-bottom	:10px;
}

#terms-agree{
	position		: absolute;
	top				: 490px;
	left			: 313px;
	width			: 115px;
	height			: 52px;
	background-image: url('../../resource/images/terms/agree.png');
	cursor			: pointer;
}

#terms-disagree{
	position		: absolute;
	top				: 490px;
	left			: 438px;
	width			: 115px;
	height			: 52px;
	background-image: url('../../resource/images/terms/disagree.png');
	cursor			: pointer;
}

#terms-description{
	position		: absolute;
	top				: 275px;
	left			: 315px;
	width			: 650px;
	height			: 200px;
	font-size		: 14pt;
	color			: #e1e1e1;
}