#title-container{
	background-image: url('../../resource/images/title/ijo-bg.png');
	z-index			:2;
}

#title-M-btn{
	position		: absolute;
	top				: 0px;
	left			: 0px;
	width			: 135px;
	height			: 118px;
	cursor			:pointer;
}

#title-whitetab{
	position		: absolute;
	top				: 602px;
	left			: 0px;
	width			: 1280px;
	height			: 77px;
	background-image: url('../../resource/images/title/tab-white.png');
}

#title-prevbtn{
	position		: absolute;
	top				: 605px;
	left			: 0px;
	width			: 262px;
	height			: 71px;
	background-image: url('../../resource/images/title/prev.png');
	cursor			: pointer;
}

#title-nextbtn{
	position		: absolute;
	top				: 605px;
	left			: 1055px;
	width			: 225px;
	height			: 71px;
	background-image: url('../../resource/images/title/next.png');
	cursor			: pointer;
}

#title-title{
	position		: absolute;
	bottom			: 425px;
	left			: 95px;
	width			: 950px;
	height			: 110px;
	line-height		: 110px;
	font-family		: HeroicCondensedMedium;
	font-size		: 84pt;
	color			: white;
	white-space		: nowrap;
	overflow		: hidden;
	-webkit-marquee	: auto small infinite alternate normal; 
	overflow-x		:-webkit-marquee;
}

#title-description{
	position		: absolute;
	top				: 305px;
	left			: 95px;
	width			: 850px;
	height			: 150px;
	color			: white;
	font-size		: 28pt;
}

#title-viewbtn{
	position		: absolute;
	top				: 315px;
	left			: 960px;
	width			: 250px;
	height			: 60px;
	line-height		: 60px;
	font-family		: HeroicCondensedMedium;
	font-size		: 44pt;
	color			: white;
}

#title-left-arrow{
	position		: absolute;
	top				: 313px;
	left			: 26px;
	width			: 34px;
	height			: 61px;
	background-image: url('../../resource/images/title/arrow-white.png');
	cursor			: pointer;
	-webkit-transform: rotate(180deg);
}

#title-right-arrow{
	position		: absolute;
	top				: 313px;
	left			: 1220px;
	width			: 34px;
	height			: 61px;
	background-image: url('../../resource/images/title/arrow-white.png');
	cursor			: pointer;
}