#scenemanager_helpbar{						/*app is 1280x720*/
	position			: absolute;
	top					: 690px;
	left				: 0px;
	width				: 1280px;
	height				: 30px;
	text-align			: right;
	z-index				: 80;
	background-color	: rgba(0,0,0,0.0); 
}

#scenemanager_helpbar .item{
	position			: relative;
	top					: 0px;
	left				: 0px;
	width				: 110px;
	height				: 30px;
	display				: inline-block;
	margin-right		: 5px;
}

#scenemanager_helpbar .item .image{
	position			: absolute;
	top					: 0px;
	left				: 0px;
	width				: 26px;
	height				: 26px;
}

#scenemanager_helpbar .item .text{
	position			: absolute;
	top					: 2px;
	left				: 31px;
	width				: auto;
	height				: 26px;
	line-height			: 26px;
	font-size			: 16pt;
	font-family			: HeroicCondensedMedium;
	color				: white;
	white-space			: nowrap;
}