<div id="popup-container" class="scene-container">	
	<div id="popup-content-container" class="scene-container">	
		<div id="popup-logo"></div>
		<div id="popup-description">
			Network error occurs.<br/>
			Please check your internet connection, and try again later.<br/><br/>
			Home page will be shown as soon as this popup closed.
		</div>
		<div id="popup-closebtn" onclick="Popup.mouseClick()"></div>
	</div>
</div>