#popup-container{
	background-color:rgba(0,0,0,0.95);
	z-index			:89;
	display			:none;
}

#popup-transparentbg{
	position		: absolute;
	top				: 0px;
	left			: 0px;
	width			: 1280px;
	height			: 675px;
	background-color: #000000;
	opacity			: 0.8;
}

#popup-helpbarbg{
	position		: absolute;
	top				: 675px;
	left			: 0px;
	width			: 1280px;
	height			: 45px;
	background-color: #151819;
}

#popup-logo{
	position		: absolute;
	top				: 153px;
	left			: 310px;
	width			: 294px;
	height			: 97px;
	background-image: url('../../resource/images/about/logo-about.png');
}

#popup-closebtn{
	position		: absolute;
	top				: 490px;
	left			: 313px;
	width			: 115px;
	height			: 52px;
	background-image: url('../../resource/images/about/close-sel.png');
	cursor			: pointer;
}

#popup-description{
	position		: absolute;
	top				: 275px;
	left			: 315px;
	width			: 650px;
	height			: 200px;
	font-size		: 14pt;
	color			: #e1e1e1;
}